@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../styles/variables.css";
@import "../styles/code-block.css";

@import '../styles/subheading-anchor.css';
@import '../styles/scrollbar.css';
@import '../styles/steps.css';
@import '../styles/cards.css';

/* @tailwind base;
@tailwind banner.tsx;
@tailwind utilities; */


/* ****************** DOCS ****************** */
/* html {
  @apply nx-scroll-pt-5;
}

body {
  @apply nx-px-4;
}

article {
  @apply nx-mx-auto nx-block nx-pt-20 nx-pb-32;
}

article img {
  @apply nx-mx-auto;
}

h1 {
  letter-spacing: -0.03em;
}

.nx-prose code {
  &:before,
  &:after {
    @apply nx-hidden;
  }
  .line {
    @apply nx-font-normal;
  }
}

.nx-prose .nextra-callout p {
  @apply nx-m-0;
}

.footnotes a[data-footnote-backref] {
  font-family: initial;
} */

/* html{
  font-family: var(--font-latexmath);
} */

html {
  font-family: Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
